body {
	background-color: #EAEAEA;
  font-family: "Verdana"; 
  font-size: 15px;
}

p {
  font-size: 18px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-family: "Avenir";
  font-size: 30px;
  margin: 0px;
}

h3 {
  font-family: "Avenir";
  font-size: 20px;
}

h4 {
  border-bottom: solid;
  padding: 5px;
  margin: 0px;
  border-color: #E54B4B;
  display: inline;
  font-family: "Happy Monkey";
}

.trans {
  margin: 0px;
  font-size: 10px;
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
    color: white;
}

#mainNav {
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
}

#navigation {
	margin: 0px 5%;
	position: absolute;
  top: 20px;
  right: 0px;
}

.navBar {
	background-color: #c92a2a;
	display: inline-block;
	padding: 15px;
	color: white;
  font-family: "Happy Monkey";
}

.navBar:hover {
  border-bottom: solid;
  border-color: #ffcb3b;
}

#main {
  margin: auto;
  width: 60%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /*display: grid;
  grid-template-rows: 30% 70%;
  grid-template-columns: 30% 70%;
  grid-template-areas: "block1 block2";
  max-height: auto; */
}

/* .center {
  margin: auto;
  width: 60%;
  padding: 10px;
} */

#block1 {
  background-image: url("../images/block1bg.png");
  background-color: #E54B4B;
  position: relative;
  padding: 0px;
  width: 60%;
}

#sideBar {
  display: inline-block;
  margin: 10px;
} 

.sideBarText {
  color: #ffcb3b;
  font-family: "Happy Monkey";
  font-size: 25px;
  border-bottom: 0px solid;
  border-color: #ffcb3b;
  padding: 0 100px 5px 0;
  margin: 30px;
  position: absolute; top: 0;
} 

#block2 {
  background-color: #C3BFBF;
  display: inline-block;
  flex: 0 0 60%;
}

.mainGridArea {
  align-items: center;
  display: flex;
  position: relative;
  padding: 30px;
  box-shadow: 10px 10px 5px gray;
  text-align: center;
}

.mainGridArea img {
	max-width: 100%;
  max-height: 100%;
  height: 25%;
  width: 40%;
}

.flexContainer {
  display: flex;
  flex-direction: column;
}

.workGrid {
  display: grid;
  grid-template-rows: 1/3;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "myArea"
   "myArea" 
   "myArea";
}

.workGrid img {
  max-width: 100%;
  max-height: 100%;
  height: 80%;
  width: 80%;
}

button {
  background-color: #E54B4B;
  color: white;
  font-family: "Happy Monkey";
  font-size: 10px;
  padding: 5px;
  border-radius: 10px;
  border: none;
}

@media only screen and (max-width: 600px) {

  body {
    background-color: #C3BFBF;
  }
}