body {
	background-color: #EAEAEA;
  font-family: "Verdana"; 
  font-size: 14px;
}

h1 {
  font-size: 30px;
}

h3,h4 {
  font-family: "Avenir";
}

a, a:hover, a:active, a:visited, a:focus {
    text-decoration: none;
    color: white;
}

#mainNav {
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
}

#navigation {
	margin: 0px 5%;
	position: absolute;
    top: 20px;
    right: 0px;
}

.navBar {
	background-color: #c92a2a;
	display: inline-block;
	padding: 15px;
	color: white;
  font-family: "Happy Monkey";
}

#main {
  margin: auto;
  width: 60%;
  padding: 10px;
  display: grid;
  grid-template-rows: 30% 70%;
  grid-template-columns: 30% 70%;
  grid-template-areas: "block1 block2";
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

#block1 {
  grid-area: block1;
  background-image: url("../images/block1bg.png");
  background-color: #E54B4B;
  position: relative;
}

#sideNav {
  display: flex;
  flex-direction: column;
  margin: 15%;
}

.sideBar {
	display: inline-block;
	padding: 10px;
	color: white;
	border-bottom: 0px solid;
	border-color: white;
	margin: 10px;
  text-align: center;
  font-family: "Happy Monkey";
}

#block2 {
  grid-area: block2;
  background-color: #C3BFBF;
  display: inline-block;
}

.mainGridArea {
  align-items: center;
  display: flex;
  position: relative;
  min-height: 500px;
  height: 70vh;
  padding: 30px;
  box-shadow: 10px 10px 5px gray;
  text-align: center;
  overflow: auto;
}

.mainGridArea img {
	max-width: 100%;
  max-height: 100%;
  height: 25%;
  width: 40%;
}

.flexContainer {
  display: flex;
  flex-direction: column;
}

.workGrid {
  display: grid;
  grid-template-rows: 1/3;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "myArea"
   "myArea" 
   "myArea";
}

.workGrid img {
  max-width: 100%;
  max-height: 100%;
  height: 80%;
  width: 80%;
}

button {
  background-color: #E54B4B;
  color: white;
  font-family: "Happy Monkey";
  font-size: 10px;
  padding: 5px;
  border-radius: 10px;
  border: none;
}

@media only screen and (max-width: 600px) {

  body {
    background-color: #C3BFBF;
  }

  #main {
    margin: 0px;
    display:  grid;
    grid-template-rows: 25% 75%;
    grid-template-columns: 25% 75%;
    grid-template-areas: "block1"
    "block2";
  }

  #block1 {
    grid-area: block1;
    background-color: #E54B4B;
    position: relative;
  }

  #sideNav {
    display: flex;
    flex-direction: row;
    margin: 20%;
  }

  .sideBar {
    display: inline-block;
    padding: 50px;
    color: white;
    border-bottom: solid;
    border-color: white;
    margin: 100px;
  }

  #block2 {
    grid-area: block2;
    background-color: #C3BFBF;
    display: inline-block;
  }

  .mainGridArea {
    align-items: center;
    display: flex;
    position: relative;
    min-width: 600px;
    height: 10px;
    margin: 0px;
    margin-bottom: 30px;
    text-align: center;
    overflow: auto;
  }

  .workGrid {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "myArea"
    "myArea" 
    "myArea";
    padding: 20px;
    margin: 20px;
  }
}